<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Animation -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- reCAPTCHA-v2 -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
    
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .hellotext {
            
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
              
        }
        
        .hide {
            display: none;
          }
        .rememberme:hover + .hide {
        display: block;
        color: red;
        }

      </style>
      <link href="/styles/signup.css" rel="stylesheet" type="text/css">
      <link href="/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="container thing-in-middle w3-animate-zoom shadow" >
        <div class="row justify-content-center">
            <div class="col" style="background-color: #0d6efd;">
              <main class="justify-content-center" style="color: white;">
                <div class="container pt-5">
                    <h1>Hello,</h1><br>
                    <p class="hellotext">Please register with your email address and password. We won't encrypt your password or any information that important. Since we can sell it on black market, it's important to us. Please be aware!</p>
                    <p class="hellotext" >luv. Baby</p>
                </div>
                
              </main> 
            </div>
            <div class="col">
                <main class="form-signup justify-content-center text-center ">
                    <img class="mb-4" src="/images/raise-hand.png" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Please register</h1>
                    <form action="/register" method="POST" >
                        <div class="row form-signup" >
                            <div class="col form-floating" style="padding-left: 0px; margin-bottom: 0px;">
                                <input type="text" class="form-control" id="floatingfname" name="fname" placeholder="Firstname" required value="<%= user.fname %>">
                                <label for="floatingfname">Firstname</label>
                            </div>
                            <div class="col form-floating" style="padding-right: 0px; margin-bottom: 0px;">
                                <input type="text" class="form-control" id="floatinglname" name="lname" placeholder="Lastname" value="<%= user.lname %>"required>
                                <label for="floatinglname" style="padding-left: 22px;">Lastname</label>
                            </div>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <% if (errorCode == 1) { %>
                          <div class="alert alert-warning" role="alert">
                            <%= msg %>
                          </div>
                        <% } %>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" aria-describedby="passwordHelpBlock" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                            <label for="floatingPassword">Password</label>
                            <div id="passwordHelpBlock" class=" form-text text-start ps-2">
                                Your password must be 8-20 characters long.
                            </div>
                        </div>
                        <div class="row form-signup" >
                            <div class="col form-floating" style="padding-left: 0px; margin-bottom: 0px; margin-top: 0px;">
                                <input type="tel" class="form-control" id="phoneNumber" name="tel" placeholder="phone number" maxlength="10"  pattern="[0-9]{10}" value="<%= user.tel %>"title="Please put only 10 digits of number."required/>
                                <label for="phoneNumber">phone number</label>
                            </div>
                            <div class="col form-floating" style="padding-right: 0px; margin-bottom: 0px; margin-top: 0px;">
                                <input type="date" class="form-control" id="birthday" name="DOB" placeholder="Birthday" value="<%= user.DOB %>"required>
                                <label style="padding-left: 22px;">Birthday</label>
                            </div>
                        </div>
                        <% if(errorCode == 4) { %>
                        <div class="alert alert-danger mt-3" role="alert">
                          A simple danger alert—check it out!
                        </div>
                        <% } %>
                        </br>
                        <button class="w-100 btn btn-lg btn-primary btn-signup" type="submit">Sign in</button>
                      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                    </form>
                </main>
            </div>
          </div>
    </main>
    <div class="container m-5"></div>
</body>
</html>